body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
* {
  color: #112a46;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.logo {
  width: 16rem;
  height: 5.2rem;
  cursor: pointer;
}
h2 {
  text-transform: uppercase;
  padding: 4px 0;
  display: inline-block;
  font-size: 3.2rem;
  border-bottom: 1px solid #112a46;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 9.6rem;
}
.list-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.close {
  display: none;
}

/* RESPONSIVE */
/***************************************
BELOW 1200px(Landscape Tablets)
****************************************/
@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 50%;
  }
}
/***************************************
BELOW 944px(Tablets)
****************************************/
@media (max-width: 59em) {
  html {
    font-size: 37.5%;
  }
  .main-nav {
    flex-direction: column;
    gap: 6.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    margin-top: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.8s ease;
  }
  .skills__block {
    row-gap: 6rem;
  }
  .extra {
    justify-self: center;
  }
}
/***************************************
BELOW 704px(Smaller Tablets)
****************************************/
@media (max-width: 44em) {
  html {
    font-size: 31.25%;
  }
  .services {
    margin-left: 4rem;
  }
}
/***************************************
BELOW 544px(PHONES)
****************************************/
@media (max-width: 34em) {
  html {
    font-size: 25%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
